# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Dataset
Data/

# Model weights
*.pth
*.pt

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Windows
Thumbs.db
Desktop.ini

# Generated feature files
features/

# Training logs
logs/

# Model checkpoints
*.pth
*.pt

# Python cache
__pycache__/
*.pyc